<!DOCTYPE html>
<html>
<head>
	<title>angularapp</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
	</script>
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body  ng-app="myModule" ng-controller="myController" style="text-align: center;background-color: lightblue;">
	<div style="padding-top: 10%;">
		<h3><b> Guess Left : : {{ guesses }} </b></h3>
	</div><br>
	<div class="incorrectGuesses">
		<h3><b>your Incorreect Guess : : <span ng-repeat="letter in incorectLettersChoosen">{{letter}}</span></b></h3>
	</div><br>
	<div>
		<h3><b>your Correect Guess : : <span ng-repeat="letter in correctLettersChoosen">{{letter}}</span></b></h3>
	</div><br>
	<div><h3><b> you have to guess: {{ displayWord }}</b></h3></div>
	<div><br>
		<div>
			<input class="input-lg" type="text" name="guess" ng-model="input.letter">&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-success" ng-click="letterChoosen()">Submit</button>
		</div><br>
	</div>
</body>
</html>